<section class="Navbar">
    <div class="nav-content-logo">
        <a href="#inicio">
            <img id="icono_movil" alt="Farms" src="/assets/logo_p_f_negro.png">
        </a>
    </div>
    <nav class="nav-items" id="navItems">
        <img id="logo-menu" class="logo-menu" src="/assets/logo_p_f_negro.png" />
        <a href="#inicio" class="nav-link" data-i18n="header.Inicio">Inicio</a>
        <!-- <a href="#casinos" class="nav-link">Casinos</a> -->
        <a href="#fincas" class="nav-link" data-i18n="inicio.fincas">Fincas</a>
        <a href="#frutas" class="nav-link" data-i18n="inicio.frutas">Frutas</a>
        <a href="#deliveryFarms" class="nav-link" data-i18n="header.entrega">Entrega</a>
        <a href="#contacto" class="nav-link" data-i18n="header.Contacto">Contacto</a>
    </nav>
    <div class="content_idioma">
        <button title="Español" onclick="i18n.loadLang('es')"><img src="/assets/espania.png" alt="Farms"></button>
        <button title="English" onclick="i18n.loadLang('en')"><img src="/assets/inglaterra.png" alt="Farms"></button>
        <button title="中國人" onclick="i18n.loadLang('zh-Hans')"><img src="/assets/bandera_china.png"
                alt="Farms"></button>
    </div>
    <div class="nav-toggle" id="navToggle">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
</section>