<!DOCTYPE html>
<html>

<head>
    <title>Pitahaya Ecuador</title>
</head>

<body>
    <section class="banner_pitahaya_">
        <section class="content_banner_pitahaya_">
            <img class="img_banner_logo" src="/assets/logos_P_F_S_S.png" alt="Farms">
        </section>
    </section>
    <section class="background_desc_pitahaya">
        <section class="container content_info_fruta_ecuador">
            <div class="content_card_fruta_ecuador">
                <div class="content_info_box_img">
                    <img src="/assets/cosecha_pita.jpeg" alt="Farms">
                </div>
                <div class="content_info_box_text">
                    <h2 data-i18n="pitahaya.legado_title">Legado y Pasión</h2>
                    <p data-i18n="pitahaya.legado_desc">Con más de 40 años de trayectoria en Ecuador, nuestra esencia
                        une la visión empresarial
                        China con un respeto profundo por la tierra ecuatoriana.
                        Somos expertos en conectar la riqueza de la Amazonía con los estándares más altos del
                        mercado global.</p>
                </div>
            </div>
            <div class="content_card_fruta_ecuador column_reverse_movil">
                <div class="content_info_box_text">
                    <h2 data-i18n="pitahaya.origen_title">Perfección en el Origen</h2>
                    <p data-i18n="pitahaya.origen_desc">Seleccionamos los mejores microclimas de Palora y colaboramos
                        con agricultores de
                        élite. Gracias a la luz única de la línea ecuatorial y tierras volcánicas, nuestra Fruta del
                        Dragón Amarilla ofrece un dulzor (Brix) y una textura inigualables, diseñada específica
                        mente para satisfacer los paladares más exigentes de Asia y el mundo.</p>
                </div>
                <div class="content_info_box_img">
                    <img src="/assets/perfeccion_origen.png" alt="Farms">
                </div>
            </div>
            <div class="content_card_fruta_ecuador">
                <div class="content_info_box_img">
                    <img src="/assets/legado_pasion_img.png" alt="Farms">
                </div>
                <div class="content_info_box_text">
                    <h2 data-i18n="pitahaya.garantia_title">Garantía de Exportación</h2>
                    <p data-i18n="pitahaya.garantia_desc_1">Nuestra maestría logística y rigor fitosanitario aseguran
                        una fruta de calidad mundial:</p>
                    <ul>
                        <li data-i18n="pitahaya.garantia_desc_2">Manejo Experto : Especialistas en protocolos de
                            exportación a China,
                            Europa,
                            EEUU y
                            Medio Oriente.</li>
                        <li data-i18n="pitahaya.garantia_desc_3">Inocuidad Total : Procesos sanitarios estrictos en cada
                            etapa.</li>
                        <li data-i18n="pitahaya.garantia_desc_4">Compromiso : Calidad Ultra Premium, trazabilidad
                            garantizada y respeto
                            ambiental.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="content_desc_product">
            <p data-i18n="pitahaya.empaque">Pitahaya Amarilla SOLARA</p>
        </section>
        <section class="container content_info_fruta_ecuador">
            <div class="content_card_fruta_ecuador">
                <div class="content_info_box_img">
                    <img src="/assets/fruta-dragon-amarilla-sostenida-palma-cerca-colores-vibrantes-textura-piel-lisa-fondo-verde-borroso_1308352-34666.jpg"
                        alt="Farms">
                </div>
                <div class="content_info_box_text">
                    <h2 data-i18n="pitahaya.perfil_title">Perfil Técnico</h2>
                    <p data-i18n="pitahaya.perfil_desc">(Selenicereus megalanthus)
                        Esta fruta, también conocida en todo el mundo como
                        Fruta del Dragón Amarilla, está cubierta por una capa de
                        espinas que son retiradas antes de su comercialización, su
                        pulpa es blanca llena de diminutas semillas negras que tienen
                        poder digestivo – diurético y un espectacular sabor dulce.</p>
                </div>
            </div>
            <div class="content_card_fruta_ecuador column_reverse_movil">
                <div class="content_info_box_text">
                    <h2 data-i18n="pitahaya.beneficios_title">Beneficios:</h2>
                    <ul>
                        <li data-i18n="pitahaya.beneficios_desc_1">Refuerzo antioxidante natural: Rica en vitamina C y
                            antioxidantes que protegen las células y apoyan la salud
                            general.</li>
                        <li data-i18n="pitahaya.beneficios_desc_2">Digestión saludable: Alto contenido de fibra que
                            favorece
                            el tránsito intestinal y el bienestar digestivo.</li>
                        <li data-i18n="pitahaya.beneficios_desc_3">Apoyo prebiótico: Nutre las bacterias buenas del
                            intestino
                            y fortalece el sistema inmunológico.</li>
                        <li data-i18n="pitahaya.beneficios_desc_4">Hidratación deliciosa: Compuesta en un 80–90 % de
                            agua, ideal para mantener el cuerpo hidratado.</li>
                        <li data-i18n="pitahaya.beneficios_desc_5">Equilibrio de electrolitos: Aporta potasio y magnesio
                            para
                            una hidratación más completa.</li>
                        <li data-i18n="pitahaya.beneficios_desc_6">Efecto antiinflamatorio: Sus compuestos naturales
                            ayudan a reducir la inflamación y promover el bienestar.</li>
                        <li data-i18n="pitahaya.beneficios_desc_7">Control del azúcar en sangre: Bajo índice glucémico,
                            ideal para dietas equilibradas.</li>
                        <li data-i18n="pitahaya.beneficios_desc_8">Piel sana y luminosa: Estimula el colágeno y combate
                            el
                            envejecimiento celular.</li>
                        <li data-i18n="pitahaya.beneficios_desc_9">Apoyo a la salud cerebral: Sus antioxidantes
                            contribuyen
                            a proteger el cerebro y la función cognitiva.</li>
                    </ul>
                </div>
                <div class="content_info_box_img">
                    <img src="/assets/63bebbf3e0cc1565a12ea93b.webp" alt="Farms">
                </div>
            </div>
            <div class="container content_dispon">
                <h2 data-i18n="pitahaya.disponibilidad">Disponibilidad</h2>
                <img src="/assets/disponibilidad.png" alt="Farms">
            </div>
        </section>
        <section class="__high_test container">
            <img src="/assets/logo_high_test.png" alt="Farms">
        </section>
    </section>
</body>

</html>