<!DOCTYPE html>
<html>

<head>
    <title>Fincas Premium Farms</title>
</head>

<body>
    <section class="content_main_fincas">
        <div class="banner_fincas_">
            <h2 class="show_item_up">TERRENOS</h2>
        </div>
        <div class="container">
            <div class="content_info_card">
                <div class="content_img_finca">
                    <img class="show_item" src="/assets/finca_terreno.jpg" alt="Farms">
                </div>
                <div class="content_desc_finca">
                    <p class="show_item" data-i18n="fincas.terreno"></p>
                    <br />
                </div>
            </div>
            <div class="content_info_card row_revert">
                <div class="content_desc_finca">
                    <p class="titulo" data-i18n="fincas.montanias"></p>
                </div>
                <div class="content_img_finca">
                    <img class="titulo" src="/assets/finca_montañas.jpg" alt="Farms">
                </div>
            </div>

            <div class="content_info_card">
                <div class="content_img_finca">
                    <img class="titulo" src="/assets/finca_zonas_verdes.jpg" alt="Farms">
                </div>
                <div class="content_desc_finca">
                    <p class="titulo" data-i18n="fincas.zonasverdes"></p>
                    <br />
                </div>
            </div>
            <div class="content_info_card row_revert">
                <div class="content_desc_finca">
                    <p class="titulo" data-i18n="fincas.alrededores"></p>
                </div>
                <div class="content_img_finca">
                    <img class="titulo" src="/assets/finca_detalle_alrededores.jpg" alt="Farms">
                </div>
            </div>

            <div class="content_info_card">
                <div class="content_img_finca">
                    <img class="titulo" src="/assets/finca_detalle_manatial.jpg" alt="Farms">
                </div>
                <div class="content_desc_finca">
                    <p class="titulo" data-i18n="fincas.manantial"></p>
                    <br />
                </div>
            </div>
            <div class="content_info_card row_revert">
                <div class="content_desc_finca">
                    <p class="titulo" data-i18n="fincas.estructuras"></p>
                </div>
                <div class="content_img_finca">
                    <img class="titulo" src="/assets/finca_detalle_puente.jpg" alt="Farms">
                </div>
            </div>
        </div>
    </section>
</body>

</html>