<!DOCTYPE html>
<html>

<head>
    <title>Frutas Premium Farms</title>
</head>

<body>
    <section class="banner_frutas">
        <h2 class="show_item_up" data-i18n="inicio.frutas">FRUTAS</h2>
    </section>
    <section class="container content_all_card">
        <div class="content_info_card row_revert background_finca_example">
            <div class="content_desc_fruta">
                <h2 class="show_item" data-i18n="frutas.exp_seccion">EXPERIENCIAS</h2>
                <br />
                <p class="titulo" data-i18n="frutas.exp_seccion_desc">Descubre el equilibrio perfecto entre la belleza
                    silvestre y un
                    sabor inigualable. Nuestra selección
                    premium de pitahaya redefine lo natural, trayendo a tu mesa una joya nutricional cargada de
                    antioxidantes y frescura extrema. No es solo fruta, es una experiencia tropical, donde Premuim Farms
                    S.A lo tiene para ti.</p>
            </div>
            <div class="content_img_fruta">
                <img class="show_item" src="/assets/frutas_EXP_desk.png" alt="Farms">
            </div>
        </div>
        <!-- <div class="content_info_card row_revert">
            <div class="content_desc_fruta">
                sadsd
            </div>
            <div class="video-wrapper">
                <iframe
                    src="https://www.youtube.com/embed/Dpr3AnMDEHQ?autoplay=1&mute=1&loop=1&playlist=Dpr3AnMDEHQ&controls=0&modestbranding=1&rel=0"
                    allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        </div> -->
        <br />
        <a href="#pitaya_desc" title="Pitahaya" class="content_info_card">
            <div class="content_img_fruta">
                <img class="titulo" src="/assets/650_1200.jpg" alt="Farms">
            </div>
            <div class="content_desc_fruta">
                <p class="titulo" data-i18n="frutas.pitayaDesc"> <strong>La pitaya amarilla</strong> (Selenicereus
                    megalanthus) es conocida por ser
                    la variedad más <strong>dulce</strong> y <strong> aromática</strong>,
                    distinguible por su vibrante piel amarilla y su forma ovoide, más pequeña que la roja. Su pulpa
                    blanca translúcida contiene numerosas semillas negras <strong>comestibles</strong>, y su sabor
                    combina una intensa
                    dulzura con notas de kiwi y pera, lo que la hace ideal para consumir fresca, en batidos o como
                    decoración de postres. Esta fruta es beneficiosa para la <strong>salud</strong> digestiva gracias a
                    su alto contenido
                    en fibra y aporta antioxidantes, calcio, fósforo y hierro.</p>
                <br />
            </div>
        </a>
        <a href="#banana_desc" title="Banana" class="content_info_card row_revert">
            <div class="content_desc_fruta">
                <p class="titulo" data-i18n="frutas.bananaDesc"> <strong>Las Bananas</strong> (Solara). Sus
                    características clave incluyen una forma
                    cilíndrica uniforme, una longitud mínima de aproximadamente 20 cm y un calibre de entre 39 y 47 mm,
                    lo
                    que garantiza una <strong>madurez</strong> óptima. La cáscara pasa del verde intenso al amarillo
                    brillante sin
                    <strong>defectos</strong>.
                    Organolépticamente, el banano presenta una pulpa cremosa, firme y sin fibrosidad, con un sabor
                    <strong>dulce</strong>
                    que
                    alcanza entre 20 y 22 °Brix al alcanzar la <strong>madurez</strong> completa. El manejo poscosecha
                    implica procesos
                    <strong>rigurosos</strong> como el transporte refrigerado (13 °C-14 °C) y un envasado avanzado, lo
                    que prolonga la
                    vida
                    útil hasta <strong>30 días</strong>.
                </p>
            </div>
            <div class="content_img_fruta">
                <img class="titulo" src="/assets/bananas-oranges.jpg" alt="Farms">
            </div>
        </a>
        <a href="#cacao_desc" title="Cacao" class="content_info_card">
            <div class="content_img_fruta">
                <img class="titulo" src="/assets/cacao.png" alt="Farms">
            </div>
            <div class="content_desc_fruta">
                <p class="titulo" data-i18n="frutas.cacaoDesc"> <strong>El cacao</strong> (Theobroma cacao) es una
                    planta tropical que destaca por su
                    estructura
                    botánica y su valor <strong>gastronómico</strong>. El árbol alcanza una altura promedio de 6 metros,
                    creciendo bajo
                    sombra, con hojas elípticas de <strong>hasta 50 cm</strong>. Una de sus mayores curiosidades es la
                    <strong>caulifloria</strong>: sus
                    pequeñas flores <strong>rosadas</strong> brotan directamente del tronco y ramas viejas, dando paso a
                    una <strong>mazorca
                        ovalada</strong> (de 15 a 30 cm) que cambia de color al <strong>madurar</strong> y protege entre
                    30 y 50 semillas envueltas en
                    un mucílago <strong>dulce</strong>.
                </p>
                <br />
            </div>
        </a>
        <a href="#camaron_desc" title="Camarón" class="content_info_card row_revert">
            <div class="content_desc_fruta">
                <p class="titulo" data-i18n="frutas.camaronDesc"> <strong>El camarón</strong> , especialmente la especie
                    Penaeus vannamei liderada por
                    la exportación
                    <strong>ecuatoriana</strong>, es un crustáceo decápodo de alto valor nutricional y culinario que
                    destaca por su
                    cuerpo dividido en <strong>cefalotórax</strong>, abdomen <strong>carnoso</strong> y telson. En su
                    estado natural presenta tonos
                    translúcidos y grisáceos, pero al cocinarse adquiere un color rosado o naranja brillante y una
                    textura <strong>firme</strong> y <strong>jugosa</strong> con un sabor <strong>dulce</strong> y aroma
                    fresco a mar. Este alimento es una excelente
                    fuente de proteína magra, ácidos grasos Omega-3, astaxantina y minerales esenciales como yodo y
                    zinc, lo que favorece la salud cardiovascular y visual. En el mercado, se clasifica por tallas según
                    unidades por <strong>libra</strong> y se comercializa principalmente en variedades como el
                    <strong>blanco</strong> (Vannamei), el
                    <strong>rosado</strong> de captura marina y el <strong>tigre gigante</strong>, todos reconocidos por
                    su versatilidad y calidad
                    organoléptica superior.
                </p>
            </div>
            <div class="content_img_fruta">
                <img class="titulo" src="/assets/camaron.png" alt="Farms">
            </div>
        </a>
    </section>
</body>

</html>