<!DOCTYPE html>
<html>

<head>
    <title>Inicio</title>
</head>

<body>
    <section class="seccion_one">
        <div class="container seccion_info">
            <img title="Ecuador Premium Farms" class="logo_inicio" src="/assets/logo_p_f.png" alt="Farms">
        </div>
    </section>
    <a title="Tesoro Amarillo" href="#mas_pitahaya" class="_tesoro_amarillo">
        <div class="content_tesoro_amarillo container">
            <p data-i18n="inicio.tesoro_amarillo">El Tesoro Amarillo de ecuador al mundo</p>
            <button class="btn btn-warning">Saber Más</button>
        </div>
    </a>
    <a title="Banana Solara" href="#banana_solara" class="_banana_solara">
        <div class="content_tesoro_amarillo container">
            <img style="width: 250px;display: flex !important;" src="/assets/logo_solara_claro.png" alt="Farms">
            <!-- <p>BANANAS </p>
            <p>PRODUCTO DE ECUADOR</p> -->
            <br />
            <button class="btn btn-warning">Saber Más</button>
        </div>
    </a>

    <section class="seccion_transporter">
        <div class="container content_info_transporter">
            <img src="/assets/logo_p_f.png" alt="Farms">
            <div class="content_img_transporter">
                <img src="/assets/img_transporter.jpeg" alt="Farms">
            </div>
            <a href="#deliveryFarms" class="content_delivery_quality">
                <img title="Delivery Quality" src="/assets/delivery_quality.png" alt="Farms">
            </a>
            <div class="content_text_transporter">
                <h2 data-i18n="inicio.transporte_titulo">Transporte y Distribución de Frutas</h2>
                <p data-i18n="inicio.transporte_parr">El transporte de frutas es una etapa clave dentro del proceso
                    agrícola, ya que permite llevar la
                    cosecha desde la finca hasta los centros de distribución o mercados de forma eficiente. Para ello se
                    utilizan medios de transporte adecuados que ayudan a conservar la frescura y calidad del producto
                    durante el recorrido. Un buen sistema de transporte facilita la comercialización, optimiza los
                    tiempos de entrega y asegura que las frutas lleguen en excelentes condiciones a su destino final.
                </p>
            </div>
        </div>
    </section>

    <section class="seccion_show_info content_asset_delivery">
        <div class="container content_info_extra">
            <a title="Ecuador Delivery EP" href="#deliveryFarms" class="video-wrapper">
                <iframe
                    src="https://www.youtube.com/embed/FDQvPK1kTE0?autoplay=1&mute=1&loop=1&playlist=FDQvPK1kTE0&controls=0&modestbranding=1&rel=0"
                    allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </a>
            <div style="top: auto; bottom: 100px;" class="text_info_extra">
                <img src="/assets/ecuador_delivery_v2.png" alt="Farms">
                <h2 style="display: none;" data-i18n="inicio.mejores_terrenos">LOS MEJORES TERRENOS</h2>
            </div>
        </div>
    </section>



    <section class="seccion_two">
        <section class="content_accesos_services">
            <div class="content_card_acces">
                <div title="Fincas Premium Farms" class="content_box">
                    <div class="content_img">
                        <img src="/assets/DJI_20251214195323_0035_D.webp" alt="Farms">
                    </div>
                    <div class="content_text">
                        <p data-i18n="inicio.fincas">Fincas</p>
                        <a href="#fincas" data-i18n="inicio.saberMas">Saber más</a>
                    </div>
                </div>
                <div title="Frutas Premium Farms" class="content_box">
                    <div class="content_img">
                        <img src="/assets/fruta_dragon.jpg" alt="Farms">
                    </div>
                    <div class="content_text">
                        <p data-i18n="inicio.frutas">Frutas</p>
                        <a href="#frutas" data-i18n="inicio.saberMas">Saber más</a>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="seccion_three">
        <div class="content_redes container">
            <div class="content_img_collage">
                <img src="/assets/collage-de-las-frutas-y-verdur.webp" alt="Farms">
                <div class="logo_collage">
                    <img src="/assets/logo_p_f.png" alt="Farms">
                </div>
            </div>
            <div class="red_social">
                <div class="content_red_social">
                    <img style="position: relative;left: -15px;" src="/assets/logo_tiktok.png" alt="Farms">
                    <a href="" data-i18n="inicio.tiktok">TikTok</a>
                </div>
                <div class="content_red_social">
                    <img src="/assets/instagram-icono.png" alt="Farms">
                    <a href="" data-i18n="inicio.instagram">Instagram</a>
                </div>
                <div class="content_red_social">
                    <img src="/assets/Facebook_f_logo_.png" alt="Farms">
                    <a href="" data-i18n="inicio.facebook">Facebook</a>
                </div>
            </div>
        </div>
    </section>

    <section class="content_show_info">
        <div class="container content_fruits_principal">
            <section class="sliderC">
                <div class="slider-wrapperC" id="sliderTrackC">
                    <div class="slideC bg1C">
                        <div class="content-slide">
                            <img class="img_frut_slider" src="/assets/furta_dragon.png" alt="Farms">
                            <p class="text_frut_slider" data-i18n="inicio.frutas_show_dragon">Fruta Dragón</p>
                        </div>
                    </div>
                    <div class="slideC bg2C">
                        <div class="content-slide">
                            <img class="img_frut_slider" src="/assets/cacao-show.png" alt="Farms">
                            <p class="text_frut_slider" data-i18n="inicio.frutas_show_cacao">Cacao</p>
                        </div>
                    </div>
                    <div class="slideC bg4C">
                        <div class="content-slide">
                            <img class="img_frut_slider" src="/assets/camaron_show.png" alt="Farms">
                            <p class="text_frut_slider" data-i18n="inicio.frutas_show_camaron">Camarón</p>
                        </div>
                    </div>
                    <div class="slideC bg5C">
                        <div class="content-slide">
                            <img class="img_frut_slider" src="/assets/banano_farms.png" alt="Farms">
                            <p class="text_frut_slider" data-i18n="inicio.frutas_show_banano">Banana Farms</p>
                        </div>
                    </div>
                </div>
                <div class="slider-controlsC">
                    <input type="radio" name="slider-radioC" id="trigger1" checked>
                    <label for="trigger1"></label>
                    <input type="radio" name="slider-radioC" id="trigger2">
                    <label for="trigger2"></label>
                    <input type="radio" name="slider-radioC" id="trigger3">
                    <label for="trigger3"></label>
                    <input type="radio" name="slider-radioC" id="trigger4">
                    <label for="trigger4"></label>
                </div>
                <div class="controls-sliderC" style="gap: 30px;">
                    <button class="arrowC arrowC-left" id="prevBtnC">&#8249;</button>
                    <button class="arrowC arrowC-right" id="nextBtnC">&#8250;</button>
                </div>
            </section>
        </div>
    </section>

    <section style="display: none;" class="content_new_info">
        <div class="container _info_new">
            <div class="_img_info_new">
                <img src="/assets/pitaya_1.jpeg" alt="Farms">
            </div>
            <div class="_text_info_new">
                <p data-i18n="inicio.text_uno">La pitaya amarilla es una de las frutas exóticas más apreciadas de
                    América Latina, reconocida por su
                    sabor dulce, su pulpa refrescante y su llamativa apariencia. Esta fruta proviene de un cactus
                    trepador perteneciente al género Selenicereus, que se desarrolla principalmente en climas cálidos y
                    tropicales. Su cáscara amarilla brillante cubierta de pequeñas espinas suaves protege una pulpa
                    blanca llena de diminutas semillas negras comestibles, ofreciendo una textura suave y un sabor
                    delicadamente dulce que la convierte en una fruta muy valorada tanto en el mercado local como
                    internacional.</p>
            </div>
        </div>

        <div class="container _info_new _column_reverse">
            <div class="_img_info_new">
                <img src="/assets/pitaya_2.jpeg" alt="Farms">
            </div>
            <div class="_text_info_new">
                <p data-i18n="inicio.text_dos">En países andinos como Ecuador y Colombia, la pitaya amarilla ha
                    encontrado condiciones ideales para
                    su cultivo gracias a la combinación de altitud, temperatura y suelos fértiles. Ecuador, en
                    particular, se ha consolidado como uno de los principales exportadores de pitaya amarilla en el
                    mundo, llevando esta fruta a mercados internacionales como Estados Unidos, Europa y Asia. Las zonas
                    agrícolas del país cuentan con un clima privilegiado que permite obtener frutos de alta calidad,
                    caracterizados por su dulzura natural, su frescura y su excelente presentación para la exportación.
                </p>
            </div>
        </div>

        <div class="container _info_new">
            <div class="_img_info_new">
                <img src="/assets/pitaya_3.jpeg" alt="Farms">
            </div>
            <div class="_text_info_new">
                <p data-i18n="inicio.text_tres">El cultivo de pitaya también representa una importante oportunidad para
                    el desarrollo agrícola y
                    económico de muchas regiones rurales. Su producción genera empleo, donde Premium Farms S.A impulsa
                    la agricultura sostenible
                    y fortalece la presencia de los países productores en los mercados internacionales. Gracias a su
                    creciente demanda global, la pitaya amarilla continúa posicionándose como una fruta emblemática de
                    exportación, símbolo de la riqueza natural y agrícola de la región andina.</p>
            </div>
        </div>
    </section>
    <section class="seccion_show_info">
        <div class="container content_info_extra">
            <div class="video-wrapper background_video">
                <iframe
                    src="https://www.youtube.com/embed/Dpr3AnMDEHQ?autoplay=1&mute=1&loop=1&playlist=Dpr3AnMDEHQ&controls=0&modestbranding=1&rel=0"
                    allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
            <div class="text_info_extra">
                <img src="/assets/logo_p_f.png" alt="Farms">
                <h2 style="display: none;" data-i18n="inicio.mejores_terrenos">LOS MEJORES TERRENOS</h2>
            </div>
        </div>
    </section>
    <section style="display: none;" class="seccion_four">
        <div class="seccion_emprendedores container">
            <h2 data-i18n="inicio.emprendedores">Emprendedores</h2>
            <div class="content_emprendedores">
                <div class="content_emprededor">
                    <img src="/assets/test_emprededores.png" alt="Farms">
                </div>
                <div class="content_emprededor"></div>
            </div>
        </div>
    </section>
</body>

</html>