<!DOCTYPE html>
<html>

<head>
    <title>Inicio</title>
</head>

<body>
    <section class="seccion_one">
        <div class="container seccion_info">
            <img title="Ecuador Premium Farms" class="show_item_up logo_inicio" src="/assets/logo_p_f_all_blanco.png" alt="Farms">
        </div>
        <div class="content_video">
            <video autoplay muted loop playsinline>
                <source src="https://testpromo.easyguess.com/uploads/videos_test/seccion_intro.mp4" type="video/mp4">
                Tu navegador no soporta el formato de video.
            </video>
        </div>
        <div class="show_item flechas-levitando">
            <span class="flecha"></span>
        </div>
    </section>

    <div id="seccion_productos"></div>

    <a title="Tesoro Amarillo" href="#mas_pitahaya" class="_tesoro_amarillo">
        <div class="content_tesoro_amarillo container">
            <h3 data-i18n="inicio.tesoro_amarillo">El Tesoro Amarillo de ecuador al mundo</h3>
            <button class="btn btn-warning">Saber Más</button>
        </div>
    </a>
    <a title="Banana Solara" href="#banana_solara" class="_banana_solara">
        <div class="content_tesoro_amarillo container">
            <img style="width: 250px;display: flex !important;" src="/assets/logo_solara_claro.png" alt="Farms">
            <!-- <p>BANANAS </p>
            <p>PRODUCTO DE ECUADOR</p> -->
            <br />
            <button class="btn btn-warning">Saber Más</button>
        </div>
    </a>

    <section class="_back_terrenos_farms_">
        <div class="container _content_main_info_">
            <div class="_text_terrenos_">
                <h2 class="titulo">Los mejores Terrenos</h2>
                <br />
                <p class="titulo">Ponemos a tu alcance parcelas únicas, pensadas para quienes buscan convertir la tierra
                    en una fuente de producción duradera y eficiente.</p>
                <br />
                <a class="btn btn-success titulo" href="#fincas">Conocer Más</a>
            </div>
            <div class="_img_terrenos_">
                <img src="/assets/cosecha_pita.jpeg" alt="Farms">
            </div>
        </div>
    </section>



    <section class="seccion_transporter">
        <div class="container content_info_transporter">
            <img src="/assets/logo_p_f.png" alt="Farms">
            <div class="content_img_transporter">
                <img src="/assets/img_transporter.jpeg" alt="Farms">
            </div>
            <a href="#deliveryFarms" class="content_delivery_quality">
                <img title="Delivery Quality" src="/assets/delivery_quality.png" alt="Farms">
            </a>
            <div class="content_text_transporter">
                <h2 data-i18n="inicio.transporte_titulo">Transporte y Distribución de Frutas</h2>
                <p data-i18n="inicio.transporte_parr">El transporte de frutas es una etapa clave dentro del proceso
                    agrícola, ya que permite llevar la
                    cosecha desde la finca hasta los centros de distribución o mercados de forma eficiente. Para ello se
                    utilizan medios de transporte adecuados que ayudan a conservar la frescura y calidad del producto
                    durante el recorrido. Un buen sistema de transporte facilita la comercialización, optimiza los
                    tiempos de entrega y asegura que las frutas lleguen en excelentes condiciones a su destino final.
                </p>
            </div>
        </div>
    </section>
    <section class="seccion_show_info">
        <div class="container content_info_extra">
            <div class="video-wrapper background_video">
                <iframe
                    src="https://www.youtube.com/embed/Dpr3AnMDEHQ?autoplay=1&mute=1&loop=1&playlist=Dpr3AnMDEHQ&controls=0&modestbranding=1&rel=0"
                    allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
            <div class="text_info_extra">
                <img src="/assets/logo_p_f.png" alt="Farms">
                <h2 style="display: none;" data-i18n="inicio.mejores_terrenos">LOS MEJORES TERRENOS</h2>
            </div>
        </div>
    </section>
</body>

</html>