<!DOCTYPE html>
<html>

<head>
    <title>Productos Premium Farsm S.A.S</title>
</head>

<body>
    <section class="_product_back__">
        <section class="container _content_productos_">
            <img src="/assets/logo_p_f_negro.png" alt="Farms">
            <br />
            <div id="seccion_productos"></div>
            <!-- <h2>Productos</h2>
            <div class="container _content_cards_productos_">
                <div class="titulo _card_productos_">
                    <div class="_img_card">
                        <img src="/assets/63bebbf3e0cc1565a12ea93b.webp" alt="Farms">
                        <h2>Pitahaya</h2>
                    </div>
                    <div class="_desc_card">
                        <p>Nuestra Fruta del
                            Dragón Amarilla ofrece un dulzor (Brix) y una textura inigualables.</p>
                        <a href="#pitaya_desc">Saber Más</a>
                    </div>
                </div>
                <div class="titulo _card_productos_">
                    <div class="_img_card">
                        <img src="/assets/bananas-oranges.jpg" alt="Farms">
                        <h2>Banana</h2>
                    </div>
                    <div class="_desc_card">
                        <p>La banana Cavendish (AAA) es la variedad comercial más
                            importante del mundo, representando la gran mayoría de las exportaciones globales de fruta.
                        </p>
                        <a href="#banana_desc">Saber Más</a>
                    </div>
                </div>
                <div class="titulo _card_productos_">
                    <div class="_img_card">
                        <img src="/assets/cacao.png" alt="Farms">
                        <h2>Cacao</h2>
                    </div>
                    <div class="_desc_card">
                        <p>El cacao es uno de los productos agrícolas más valorados del mercado global, destacando
                            especialmente las variedades finas de aroma por su complejidad sensorial.</p>
                        <a href="#cacao_desc">Saber Más</a>
                    </div>
                </div>
                <div class="titulo _card_productos_">
                    <div class="_img_card">
                        <img src="/assets/camaron.png" alt="Farms">
                        <h2>Camarón</h2>
                    </div>
                    <div class="_desc_card">
                        <p>El camarón de exportación es uno de los productos estrella del sector acuícola, reconocido
                            globalmente por su frescura, textura firme y alto valor nutricional. </p>
                        <a href="#camaron_desc">Saber Más</a>
                    </div>
                </div>
            </div> -->
        </section>
        <section class="_back_terrenos_farms_">
            <div class="container _content_main_info_">
                <div class="_text_terrenos_">
                    <h2 class="titulo">Lo mejor de la fruta Dragon</h2>
                    <br />
                    <p class="titulo">La pitahaya amarilla, es famosa por ser la más dulce de su familia y un auténtico
                        tesoro nutricional.</p>
                    <br />
                    <a class="btn btn-success titulo" href="#mas_pitahaya">Conocer Más</a>
                </div>
                <div class="_img_terrenos_">
                    <img src="/assets/650_1200.jpg" alt="Farms">
                </div>
            </div>
        </section>
    </section>
</body>

</html>