<footer class="footer_pag">
    <section class="container content_footer">
        <h2 data-i18n="footer.certificaciones">CERTIFICACIONES</h2>
        <div class="content_info_company">
            <div class="box_left">
                <img class="img_logo_foot" src="/assets/logo_p_f.png" alt="Farms">
                <br/>
                <div class="info_socios">
                    <div class="infor_des_p_1">
                        <h2> <strong>Soyi Ma</strong> </h2>
                        <p>International Commerce</p>
                        <p>HONG KONG</p>
                        <p>+ 13108173973</p>
                        <p>soyi@ecuadorpremiumfarms.com</p>
                        <p>WeChatID: mahau5</p>
                    </div>
                    <div class="infor_des_p_2">
                        <h2> <strong>Jimmy Wang</strong> </h2>
                        <p>Quality - Ecuador</p>
                        <p>+ 593 999 446448</p>
                        <P>jimmy@ecuadorpremiumfarms.com</P>
                        <P>WeChat: Quito - Ecuador</P>
                    </div>
                </div>
            </div>
            <div class="box_rigth">
                <img src="/assets/marcas_colors.png" alt="Farms">
                <div class="info_data">
                    <p>Quito - Ecuador</p>
                    <p>Calle Bracamoros N45-56 y El Telégrafo</p>
                    <div class="separator"></div>
                    <p>Colombia - Bogotá</p>
                    <p>Centro Internacional Tequendama</p>
                    <p>Cra 10 # 27 - 27 local 153</p>
                    <div class="separator"></div>
                    <p>Miami, Florida 33131</p>
                    <p>150 SE 2nd Ave Ste 404</p>
                    <div class="separator"></div>
                    <p>China - Hong Kong</p>
                    <p>FLAT/RM A</p>
                    <p>12/F - ZJ 300</p>
                    <p>300 LOCKHART ROAD</p>
                </div>
            </div>
        </div>
    </section>
</footer>