<!DOCTYPE html>
<html>

<head>
    <title>Delivery Quality Farms</title>
</head>

<body>
    <section class="_banner_head_d">
        <img src="/assets/delivery_quality.png" alt="Farms">
    </section>
    <section class="container content_top_quality">
        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/red_pitahaya.jpeg" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>PITAHAYA ROJA</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/pitahaya_yellow.jpeg" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>PITAHAYA AMARILLA</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/granadilla.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>GRANADILLA</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/pepino_dulce.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>PEPINO DULCE</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/pinia.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>PIÑAS DORADAS</p>
                    <span>Depende de la temporada</span>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/mango_kent.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>MANGO KENT</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/lulo_naranjilla.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>LULO NARANJILLA</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/guanabana.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>GUANÁBANA</p>
                    <span>Calibre del 1 a 3</span>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>

        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/tomate_free.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>TOMATE DE ARBOL</p>
                </div>
                <div class="content_size_quality">
                    <p>4.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>
    </section>
    <div class="_background_items">
    <section class="container separation_seccion">
        <img src="/assets/pieza_upper_2.png" alt="Farms">
    </section>
    <section class="container separation_seccion">
        <img src="/assets/from_the_heart.png" alt="Farms">
        <div class="card_quality">
            <div class="img_quality">
                <img src="/assets/banana_bebe.png" alt="Farms">
            </div>
            <div class="text_quality">
                <div class="content_name_quality">
                    <p>BABY BANANA</p>
                    <span>Premiun Clase A</span>
                </div>
                <div class="content_size_quality">
                    <p>4.5, 7.5 kg</p>
                    <span>box</span>
                </div>
            </div>
        </div>
    </section>
        <section class="container content_top_quality">
            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/platano_barraganete.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>PLATANO BARRAGANETE</p>
                        <span>Puro, Grado A</span>
                    </div>
                    <div class="content_size_quality">
                        <p>22 XU <br>19.50 kg </p>
                        <span>box</span>
                    </div>
                </div>
            </div>

            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/hass_avocado.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>HASS AVOCADO</p>
                    </div>
                    <div class="content_size_quality">
                        <p>4 kg</p>
                        <span>box</span>
                    </div>
                </div>
            </div>

            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/mango_kent.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>MANGO KENT</p>
                        <span>Depende de la temporada</span>
                    </div>
                    <div class="content_size_quality">
                        <p>4 kg</p>
                        <span>box</span>
                    </div>
                </div>
            </div>

            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/taro.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>TARO</p>
                        <span>Blanco & Purpura</span>
                    </div>
                    <div class="content_size_quality">
                        <p>13 kg</p>
                        <span>box</span>
                    </div>
                </div>
            </div>

            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/jengibre.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>JENGIBRE</p>
                        <span>Organico y Convencional</span>
                    </div>
                    <div class="content_size_quality">
                        <p>10 kg</p>
                        <span>box</span>
                    </div>
                </div>
            </div>

            <div class="card_quality">
                <div class="img_quality">
                    <img src="/assets/banano_rojo.png" alt="Farms">
                </div>
                <div class="text_quality">
                    <div class="content_name_quality">
                        <p>BANANA ROJA</p>
                        <span>Convencional</span>
                    </div>
                    <div class="content_size_quality">
                        <p>5.8 kg</p>
                        <span>box</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="container _title_delivery">
        <img src="/assets/ecuador_delivery.png" alt="Farms">
    </section>
    <section class="container">
        <div class="content_contenido_1">
            <img src="/assets/cold_smooth_tasty.png" alt="Farms">
            <img src="/assets/cold_smooth_tasty _item.png" alt="Farms">
        </div>
        <div class="content_contenido_2">
            <img src="/assets/frutas_frescas_num_1.png" alt="Farms">
        </div>
    </section>

</body>

</html>