<!DOCTYPE html>
<html>

<head>
    <title>Banana Solara Ecuador</title>
</head>

<body>
    <section class="banner_banana_">
        <img class="show_item img_banner_logo item_desk" src="/assets/logos_P_F_S_S.png" alt="Farms">
        <img class="img_banner_logo item_movil" src="/assets/logos_P_F_S_S_v2.png" alt="Farms">
    </section>
    <section class="_separator_fruta_">
        <sectio class="container _desc_separator_fruta">
            <p>BANANAS PREMIUM CAVENDISH AAA • BABY BANANAS • PLANTAIN</p>
        </sectio>
    </section>
    <section class="background_desc_banana">
        <section class="container head_fruta_b">
            <div class="content_img_head">
                <img class="titulo" src="/assets/banano_farms.png" alt="Farms">
            </div>
            <div class="content_text_head">
                <h4 class="titulo">SOLARA</h4>
                <h1 class="titulo">BANANAS</h1>
                <h5 class="titulo">Tipo Cavendish AAA</h5>
                <h3 class="titulo">PRODUCTO DE ECUADOR</h3>
            </div>
        </section>
        <section class="container desc_head_fruta_b">
            <p class="titulo">"Desde la mitad del mundo, cultivamos nuestras
                Bananas Premium AAA con un sabor único bajo
                prácticas sustentables, garantizando una frescura
                y sabor superiores en cada cosecha."
            </p>
        </section>
    </section>
    <section class="_desc_banana_solara">
        <img src="/assets/banana_solara.png" alt="Farms">
        <div class="_cap_b_s_text_">
            <div class="container _desc_banana_solara_text_">
                <h4 class="titulol">SOLARA</h4>
                <h1 class="titulol">BANANAS</h1>
                <h5 class="titulol">Tipo Cavendish AAA</h5>
                <h3 class="titulol">PRODUCTO DE ECUADOR</h3>
            </div>
        </div>
    </section>
    <section class="container content_info_fruta_ecuador">
        <div class="content_card_fruta_ecuador">
            <div class="content_info_box_img">
                <img src="/assets/cosecha_pita.jpeg" alt="Farms">
            </div>
            <div class="content_info_box_text">
                <h2 class="titulor">Legado y Pasión</h2>
                <p class="titulor">Con más de 40 años de trayectoria en Ecuador, fusionamos la visión
                    empresarial china con
                    un profundo respeto por la tierra ecuatoriana. Nuestra historia es una alianza entre cultura,
                    disciplina y naturaleza, que nos ha convertido en especialistas en la producción y exporta
                    ción de la prestigiosa variedad Cavendish AAA.</p>
                <br />
                <p>Conectamos la riqueza agrícola del Ecuador con los mercados más exigentes del mundo,
                    entregando una fruta que representa orgullo, calidad y confianza internacional.</p>
            </div>
        </div>
        <div class="content_card_fruta_ecuador column_reverse_movil">
            <div class="content_info_box_text">
                <h2 class="titulol">Perfección en el Origen</h2>
                <p class="titulol">Seleccionamos estratégicamente los mejores microclimas ecuatoriales,
                    donde la luz solar
                    constante, la riqueza mineral del suelo y el manejo técnico especializado permiten desarro
                    llar una banana con estándares superiores, diseñada para satisfacer los mercados de Asia, Europa,
                    Estados Unidos y Medio Oriente.
                </p>
            </div>
            <div class="content_info_box_img">
                <img src="/assets/perfeccion_origen.png" alt="Farms">
            </div>
        </div>
        <div class="content_card_fruta_ecuador">
            <div class="content_info_box_img">
                <img src="/assets/cosecha_pita.jpeg" alt="Farms">
            </div>
            <div class="content_info_box_text">
                <h2 class="titulor">Garantía de Exportación</h2>
                <p class="titulor">Nuestra maestría logística y rigor fitosanitario aseguran una fruta de calidad
                    mundial:</p>
                <br />
                <ul>
                    <li class="titulor">Manejo Experto: Dominio total de protocolos fitosanitarios y logísticos para
                        mercados
                        internacionales exigentes.</li>
                    <li class="titulor">Inocuidad Total: Procesos sanitarios estrictos en cada etapa.</li>
                    <li class="titulor">Compromiso: Calidad Ultra Premium, trazabilidad garantizada y respeto ambiental.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="__img_cont_frutas container">
        <p>Procesos 100% amigables con el medio ambiente</p>
        <img src="/assets/img_cont_frutas.png" alt="Farms">
    </section>
    <section class="container __img_copany_fruta">
        <div class="__content_img_company_fruta">
            <img src="/assets/fruit_solara_yellow.png" alt="Farms">
        </div>
        <div class="__text_company_fruta">
            <h2>PERFIL TÉCNICO</h2>
            <ul>
                <li>Origen Geográfico: Nuestra Cavendish AAA se cultiva en tierras
                    fértiles del Ecuador, bajo la luz privilegiada de la línea ecuatorial,
                    que potencia su dulzor y calidad excepcional.</li>
                <li>Entorno de Cultivo: Microclimas seleccionados y suelos ricos
                    garantizan una variedad Cavendish AAA uniforme, firme y de
                    excelente vida postcosecha.</li>
                <li>Modelo de Gestión: Producción sostenible que equilibra
                    rentabilidad, responsabilidad social y cuidado ambiental.</li>
            </ul>
        </div>
    </section>
    <section class="container __img_copany_fruta">
        <div class="__content_img_company_fruta_s2">
            <img src="/assets/bananas_solara_ecuador.png" alt="Farms">
        </div>
        <div class="__text_company_fruta">
            <h2>BANANAS SOLARA DEL ECUADOR</h2>
            <p>Tipo Cavendish AAA</p>
            <span>Beneficios Principales</span>
            <br />
            <ul>
                <li>Corazón y Músculos Fuertes: Su alto contenido en potasio y bajo
                    nivel de sodio regulan la presión arterial, protegen la salud
                    cardiovascular y previenen calambres, siendo el aliado perfecto
                    para deportistas.</li>
                <li>Energía Natural y Rendimiento: Fuente rápida de carbohidratos
                    que combate la fatiga y mejora la recuperación muscular sin
                    aportar grasas.</li>
                <li>Bienestar Digestivo: Rica en fibra y almidón resistente, actúa
                    como prebiótico, mejora el tránsito intestinal y es ideal para
                    aliviar la acidez o la gastritis.</li>
                <li>Nutrición Esencial: Aporta Vitamina B6 para el sistema nervioso
                    y Vitamina C para fortalecer el sistema inmunitario.
                </li>
                <li>Control de Peso: Gracias a su efecto saciante, ayuda a controlar
                    el hambre y evitar el picoteo entre comidas.
                </li>
            </ul>
        </div>
    </section>
    <section class="__img_cont_frutas container">
        <p>Llegamos a todos los distinos de Asia, Europa y Estados Unidos</p>
        <img src="/assets/_a_todos_lados.png" alt="Farms">
    </section>
    <section class="_separator_fruta_">
        <sectio class="container _desc_separator_fruta">
            <p>PRODUCCIÓN • EXPORTACIÓN • LOGÍSTICA</p>
        </sectio>
    </section>
</body>

</html>